h2{
  text-align: center;
  padding-top: 10px;
}

.main-content{
  width: 80%;
  height: 70vh;
  border-radius: 20px;
  box-shadow: 0 5px 5px rgba(0,0,0,.4);
  margin: 3rem auto;
  display: flex;
}

.company__info{
border-top-right-radius: 20px ;
border-bottom-right-radius: 20px;
  width: 50%;
  background-image: url("../images/admin.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.loginDetails{
  width: 50%;
}

@media screen and (max-width: 640px) {
  .main-content{width: 90%;}
  .company__info{
    display: none;
  }
}
@media screen and (min-width: 642px) and (max-width:800px){
  .main-content{width: 70%;}
}
.row > h2{
  color:#008080;
}
form{
  padding: 0 2em;
}
.btn{
  transition: all .5s ease;
  width: 70%;
  border-radius: 30px;
  color:#008080;
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #008080;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.btn:hover, .btn:focus{
  background-color: #008080;
  border: 1px solid #051465;
  color:#fff;
}