.container {
    margin: 20px;
}
.heading{
  display: flex;
  justify-content: space-between;
}
.heading a{
  background-color: #46397D;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.heading a:hover{
font-weight: 700;
}
h1{
    text-align: left;
    padding: 1rem;
    width: 50%;
  }
.search-container {
      margin-bottom: 10px;
      padding: 1rem;
  }
.event-table {
      border-collapse: collapse;
      width: 100%;
  }
  .table-container {
    overflow-x: auto;
  }
.event-table th,
.event-table td {
      border: 1px solid black;
      padding: 8px;
  }
.event-details-btn {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }
  @media screen and (max-width: 480px){
    .event-table {
      width: 100%;
      white-space: nowrap; 
    }
  
    .event-table th,
    .event-table td {
      min-width: 100px; 
    }
    .search-container{
      flex-wrap: wrap;
    }
  }
        
        
