.container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
.row {
    display: flex;
}
  
.btn-block {
    width: 100%;
}
.showNumbers{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  text-align: center;
  flex-wrap: wrap;
}
.showNumber{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: .2rem;
  font-weight: 600;
  width: 22rem;
  height: 9rem;
  box-shadow: 1px 3px #332C6F;
  margin: 1rem;
}
#numberOfVolunteer{
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    rgb(225, 0, 255) 0%,
    #43e 100%
  );
}
#numberOfEvents{
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    rgb(5, 243, 223) 0%,
    #43e 100%
  );
}
#numberOfBenificiar{
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    rgba(252, 255, 51, 0.822) 0%,
    rgb(255, 153, 0) 100%
  );
}

.graphdisplay{
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap;
  padding: 2rem;
  color: black;
}
.eventBarDiv{
  background-color: #d1ccf7;
    width: 50rem;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 1px 3px #a097f1;
}
.graphSide{
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.downloadPdf{
  width: 30%;
  
}
.downloadPdfDiv{
  background-color: #1e1855;
  box-shadow: 1px 3px #766ae2;
  color: white;
  padding: 1rem;
  margin: 1rem;
}
.downloadPdfHeading{
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
  padding-top: 1rem;
  color: white;
}
.downloadPdf li{
  font-size: 1.2rem;
}
.yearInNssDiv{
  background-color: #d1ccf7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;
}