.container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
.row {
    display: flex;
}
  
.btn-block {
    width: 100%;
}
.showNumbers{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  text-align: center;
  flex-wrap: wrap;
}
.showNumber{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: .2rem;
  font-weight: 600;
  width: 22rem;
  height: 9rem;
  box-shadow: 1px 3px #332C6F;
  margin: 1rem;
}
#numberOfVolunteer{
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #a097f1 0%,
    #332C6F 100%
  );
}
#numberOfEvents{
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    rgb(5, 243, 223) 0%,
    #43e 100%
  );
}
#numberOfBenificiar{
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    rgb(247, 218, 139) 0%,
    #f58d06 100%
  );
}
/* Add the following CSS code to your stylesheet or <style> tag */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  position: relative;
  width: 50% !important;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#csvFileInput{
  padding: 1rem !important;
}
#submitBtn{
  margin: 1rem;
  width: 30%;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: red;
}


.graphdisplay{
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap;
  padding: 2rem;
  color: black;
}
.eventBarDiv{
  background-color: #d1ccf7;
    padding: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    box-shadow: 1px 3px #a097f1;
}
.graphSide{
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}
.graphSideFlex{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.downloadPdf{
  width: 30%;
  
}
.downloadPdfDiv{
  background-color: #1e1855;
  box-shadow: 1px 3px #766ae2;
  color: white;
  padding: 1rem;
  margin: 1rem;
}
.downloadPdfHeading{
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
  padding-top: 1rem;
  color: white;
}
.downloadPdf li{
  font-size: 1.2rem;
}
.yearInNssDiv{
  background-color: #d1ccf7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
  box-shadow: 1px 3px #a097f1;
  
}
.downloadPdfDiv button{
  border: 0px;
  background-color: transparent;
  color: white;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .graphdisplay{
    padding: .5rem;
  }
  .graphSide, .downloadPdf{
    width: 100%;
  }
  .eventBarDiv{
    padding: 0%;
  }
  .eventBarDiv{
    width: 100%;
  }
  canvas{
    transform: scale(.65);
  }
  .yearInNssDiv{
    width: 100%;
    display: none;
  }
  .graphSideFlex{
    width: 100%;
  }
  #branchPieChart{
    display: none;
  }
  .downloadPdfDiv{
    margin: 0px;
  }

}