<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Camp|NSS Fcrit</title>
    <link rel="stylesheet" type="text/css" href="/style/campForm.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(function() {
          $("#header").load("/components/header.html");
          $("#footer").load("/components/footer.html");
      });
    </script>
    <style>


        #loadingOverlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9999;
        }

        #loadingOverlay .spinner-border {
            width: 3rem;
            height: 3rem;
        }

        .alert-container {
            position: fixed;
            top: 1rem;
            right: 1rem;
            z-index: 9999;
        }
    </style>
</head>
<body>
  <div id="header"></div>
  <h1 class="form-title">Camp Form</h1>
  <div class="alert-container"></div>
<div class="container mt-5">
  <div class="form-group row">
    <div class="col-sm-1">
      <label for="campYear">Camp Year:</label>
    </div>
    <div class="col-sm-4">
      <select id="campYear" name="campYear" required>
        <option value="2022">2022-2023</option>
        <option value="2023">2023-2024</option>
        <option value="2023">2024-2025</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-1">
      <label for="fromDate">From Date:</label>
    </div>
    <div class="col-sm-2"> 
      <input type="date" id="fromDate" name="fromDate" required>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-1">
      <label for="toDate">To Date:</label>
    </div>
    <div class="col-sm-2">
      <input type="date" id="toDate" name="toDate" required>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-1">
      <label for="campSite">Camp Site:</label>
    </div>
    <div class="col-sm-11 ">
      <input type="text" id="campSite" name="campSite" required>
    </div>
    
  </div>
  <div class="form-group row">
    <div class="col-sm-1">
      <label for="address">Address:</label>
    </div>
    <div class="col-sm-11">
      <input type="text" id="address" name="address" required>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-1">
      <label for="preCampActivities">Pre-Camp Activities:</label>
    </div>
    <div class="col-sm-11 ">
      <textarea id="preCampActivities" name="preCampActivities" required></textarea>     
    </div> 
  </div>
  <h3 class="sub-title">Activity Daywise:</h3>
  <div class="form-group">
    <label for="day1">Day 1:</label>
    <textarea id="day1" name="activityDaywise" required></textarea>
  </div>
  <div class="form-group">
    <label for="day2">Day 2:</label>
    <textarea id="day2" name="activityDaywise" required></textarea>
  </div>
  <div class="form-group">
    <label for="day3">Day 3:</label>
    <textarea id="day3" name="activityDaywise" required></textarea>
  </div>
  <div class="form-group">
    <label for="day4">Day 4:</label>
    <textarea id="day4" name="activityDaywise" required></textarea>
  </div>
  <div class="form-group">
    <label for="day5">Day 5:</label>
    <textarea id="day5" name="activityDaywise" required></textarea>
  </div>
  <div class="form-group">
    <label for="day6">Day 6:</label>
    <textarea id="day6" name="activityDaywise" required></textarea>
  </div>
  <div class="form-group">
    <label for="day7">Day 7:</label>
    <textarea id="day7" name="activityDaywise" required></textarea>
  </div>

  <h2 class="form-title">Participants</h2>

  <div class="form-group col-sm-12">
    <input type="text" id="searchInput" placeholder="Search by VEC Number">
  </div>

  <div class="table-container">
    <table id="participantTable" class="participant-table">
      <thead>
        <tr>
          <th>Selected</th>
          <th>VEC</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user) { %>
        <tr class="participant-row" data-userid="<%= user.vec %>">
          <td>
            <input type="checkbox" class="participant-checkbox" data-userid="<%= user.vec %>">
          </td>
          <td><%= user.vec %></td>
          <td><%= user.name %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  
  <div class="form-group formSubmit">
    <button type="submit" onclick="submitCampDetails()">Add Camp Details</button>
  </div>

</div>
  
<div id="loadingOverlay" style="display: none;">
  <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
  </div>
</div>
  <div id="footer"></div>
</body>
<script>
  let parti = [];
const searchInput = document.getElementById('searchInput');
const participantTable = document.getElementById('participantTable');
searchInput.addEventListener('input', function() {
const searchText = searchInput.value.trim().toLowerCase();
const rows = participantTable.getElementsByTagName('tbody')[0].getElementsByTagName('tr');

Array.from(rows).forEach(row => {
  const userid = row.cells[1].textContent.toLowerCase();

  if (userid.includes(searchText)) {
    row.style.display = '';
  } else {
    row.style.display = 'none';
  }
});
});
const participantCheckboxes = document.querySelectorAll('.participant-checkbox');
participantCheckboxes.forEach(checkbox => {
  checkbox.addEventListener('change', function() {
    const userid = checkbox.getAttribute('data-userid');
    const isChecked = checkbox.checked;
    if(isChecked){
      parti.push(userid)
    }else{
      parti = parti.filter(item => item !== userid);
    }
    console.log(parti)
  });
});
function submitCampDetails(){

campYear = document.getElementById('campYear').value;
fromDate = document.getElementById('fromDate').value;
toDate = document.getElementById('toDate').value;
campSite = document.getElementById('campSite').value;
address = document.getElementById('address').value;
preCampActivities = document.getElementById('preCampActivities').value;
day1 = document.getElementById('day1').value;
day2 = document.getElementById('day2').value;
day3 = document.getElementById('day3').value;
day4 = document.getElementById('day4').value;
day5 = document.getElementById('day5').value;
day6 = document.getElementById('day6').value;
day7 = document.getElementById('day7').value;
console.log(campYear)
activityDaywise = []
activityDaywise.push(day1)
activityDaywise.push(day1)
activityDaywise.push(day3)
activityDaywise.push(day4)
activityDaywise.push(day5)
activityDaywise.push(day6)
activityDaywise.push(day7)
const payload = {
campYear,
fromDate,
toDate,
campSite,
address,
preCampActivities,
activityDaywise,
parti
};
showLoadingOverlay();
fetch('/admin/campDetails', {
method: 'POST',
headers: {
  'Content-Type': 'application/json'
},
body: JSON.stringify(payload)
})
.then(response => response.json())
.then(data => {
  hideLoadingOverlay();
  console.log('Response:', data);
  showSuccessAlert(data.message)
  window.location.href = '/admin/campDetails';

})
.catch(error => {
  console.error('Error:', error);
  showErrorAlert(error)
});

}
function showLoadingOverlay() {
            document.getElementById('loadingOverlay').style.display = 'flex';
        }

        function hideLoadingOverlay() {
            document.getElementById('loadingOverlay').style.display = 'none';
        }

        function showSuccessAlert(message) {
            const alertContainer = document.querySelector('.alert-container');
            const alert = document.createElement('div');
            alert.classList.add('alert', 'alert-success', 'alert-dismissible', 'fade', 'show');
            alert.innerHTML = `
                <strong>Success!</strong> ${message}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            `;
            alertContainer.appendChild(alert);

            setTimeout(() => {
                alertContainer.removeChild(alert);
            }, 2000);
        }

        function showErrorAlert(message) {
            const alertContainer = document.querySelector('.alert-container');
            const alert = document.createElement('div');
            alert.classList.add('alert', 'alert-danger', 'alert-dismissible', 'fade', 'show');
            alert.innerHTML = `
                <strong>Error!</strong> ${message}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            `;
            alertContainer.appendChild(alert);

            setTimeout(() => {
                alertContainer.removeChild(alert);
            }, 2000);
        }

</script>
</html>
