<footer class="footer mt-auto py-3 bg-body-tertiary">
    <div class="container text-center" style="width: 100%; display: flex; justify-content: space-between;flex-direction: column;">
      
      <span class="text-muted">© 2023 National Service Scheme. All rights reserved.</span>
      <span class="text-muted">Developed and Designed by- <a href="https://github.com/karishmarajput" target="_blank" style="color:inherit;text-decoration: none;">Karishma</a>, Aaryan, Pratik & Aakash</span>
    </div>
  </footer>
  